body {
    font-family: Roboto, Arial, sans-serif;
    margin: 0;
}
 
a {
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
    font-weight: 100;
}

.header {
    font-size: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #1f2937;
    padding: 16px 48px;
    gap: 450px;
}
 
.header-links {
    margin-left: 15px;
    display: flex;
    padding: 0;
    gap: 24px;
}
 
.main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #1f2937;
    gap: 100px;
    padding: 16px 0 64px;
}
 
.main-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 4px;
    color: white;
    text-align: left;
    padding: 16px 48px;
    flex: 1 1 350px;
    max-width: 450px;
}

.main-text {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.main-subtext {
    font-size: 18px;
    color: #E5E7EB;
}
 
.main-image {
    flex: 1 1 400px;
    max-width: 400px;
    width: 100%;
    height: 250px;
    padding: 16px 48px;
    box-sizing: border-box
}
 
.main-content button {
    background-color: #3882f6;
    color: white;
    border: none;
    padding: 8px 16px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 10px;
    width: 125px;
    margin-top: 8px;
}

.feature-title {
    display: flex;
    justify-content: center;
    padding: 8px;
    font-size: 36px;
    font-weight: 900;
}

.features {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  margin-bottom: 48px;
  gap: 48px;
  padding: 0 0 48px;
}

.text {
    width: 200px;
    gap: 48px;
}

.feature-img {
    width: 150px;
    height: 150px;
    border-radius: 15px;
}

.quotes {
    display: flex;
    background-color: #E5E7EB;
    justify-content: space;
    align-items: center;
    flex-direction: column;
    padding: 64px 0;
    gap: -26px
}

.testimonial-signatures p, .testimonials p {
    margin: 0;
}

.testimonials {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    display: flex;
    width: 40%;
}

.testimonial-signatures {
    font-size: 24px;
    color: #1F2937;
    font-weight: 600;
    width: 40%;
    text-align: right;
}
.sign-up-section {
    padding: 64px 0;
    display: flex;
    justify-content: center;
}

.sign-up-section button {
    background-color: #3882f6;
    color: white;
    border: 2px solid #ffffff;
    padding: 8px 16px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 10px;
    width: 125px;
    margin-right: 48px;
}

.sign-up {
    background: #3882f6;
    width: 45%;
    border-radius: 10px;
    box-shadow: 2px 4px 16px rgba(0,0,0,.2);
    display: flex;
    justify-content: space-between;
    gap: 16px;
    padding: 32px;
}

.button-text {
    display: flex;
    flex-direction: column;
    color: #ffffff;
    margin-left: 48px;
}

.button-title {
    font-size: 24px;
    font-weight: 700;
}

.button-desc {
    font-size: 14px;
}

.footer {
    display: flex;
    background-color: #1F2937;
    color: #E5E7EB;
    justify-content: center;
    align-items: center;
    padding: 32px;
}
